/* Scroll */
body::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0; }

body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; }

body::-webkit-scrollbar-thumb {
  background-color: #888; }

/* Spinner Loading */
.transitionPage {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  text-align: center;
  z-index: 1111;
  .spinner {
    width: 80px;
    height: 80px;
    position: relative;
    margin: auto;
    top: calc(45% + 40px);
    background-size: contain;

    .spinner-border {
      width: 30px;
      height: 30px;
    }
  }
  .label {
    position: relative;
    top: calc(45% + 10px);
    font-size: 14px;
    display: block;
  }
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

ui-view.page,
ui-view.page > div.d-flex {
  height: 100%;
}

.w100 {
  width: 100%;
}

.app-sidebar-logo-default {
  margin-left: 10px;
}

.back-split {
  min-height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)), url(/assets/media/misc/m70.jpg);
  background-size: cover;
  background-position: center top;
}

.mt-text-split {
  margin-top: 200px;
}

.required:after {
  padding-left: 0.3rem !important;
}

.text-right {
  text-align: right;
}

.g_id_signin iframe {
  margin: 0 auto !important;
}

#kt_contact_map {
  height: 486px;
  background-image:url('../media/dashboard/map.png');
  background-position: center;
  background-size:contain;
  overflow:hidden;
  cursor: pointer;
}

span.nolink {
  color: var(--kt-text-warning)!important;
  font-weight: 600 !important;
}
