<div class="d-flex flex-column flex-center">
  <logo-app size="100" size-lg="150"></logo-app>
  <!--begin::Title-->
  <h1 class="d-none d-lg-block text-white fs-2qx fw-bolder text-center mb-7 mt-text-split">Every achievement begins<br/>with the decision to try</h1>
  <!--end::Title-->
  <!--begin::Text-->
  <div class="d-none d-lg-block text-white fs-base text-center">Join the most prominent startup in the <span class="nolink">world of Rugby</span>,<br/>athletes, clubs, and agents in <span class="nolink">one place</span>.</div>
  <!--end::Text-->
</div>
