<div id="sp-page" class="spBgcover sp-content-5" style="background-color: rgb(255, 255, 255); background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/assets/media/site/back2.jpg') !important; font-family: Roboto, sans-serif; font-weight: 400;">
  <section id="sp-ks8a8s" class="sp-el-section " style="width: 490px; max-width: 100%; padding: 10px 10px 10px 80px; border-radius: 10px;">
    <pre></pre>
    <div id="sp-vw3kvy" class="sp-el-row sm:sp-flex sp-w-full  sp-m-auto sp-justify-between" style="padding: 0px; width: auto; max-width: 1000px;">
      <pre></pre>
      <div id="sp-ovbx1s" class="sp-el-col  sp-w-full" style="width: calc(100% - 0px);">
        <pre></pre>
        <div class="sp-col-shape sp-col-top" style="z-index: 0;">
          <div></div>
        </div>
        <div class="sp-col-shape sp-col-bottom" style="z-index: 0;">
          <div></div>
        </div>
        <div id="sp-niijfv" class="sp-spacer" style="height: 12px;"></div>
        <figure id="sp-xp7nhn" class="sp-image-wrapper sp-el-block" style="margin: 0px; text-align: left;">
          <div>
            <span>
              <img src="/assets/media/site/logo.png" alt="" class="main-logo" height="100" srcset=" /assets/media/site/logo.png 150w, /assets/media/site/logo.png 269w" class="sp-image-block-xp7nhn" style="width: 269px;">
            </span>
          </div>
        </figure>
        <div id="sp-jknss8" class="sp-spacer" style="height: 39px;"></div>
        <h1 id="sp-y0sc75" class="sp-css-target sp-el-block sp-headline-block-y0sc75 sp-type-header" style="font-size: 72px; text-align: left; margin: 0px;">We're <br>working! </h1>
        <div id="sp-p7ef8k" class="sp-css-target sp-text-wrapper sp-el-block sp-text-wrapper-p7ef8k" style="font-size: 18px; margin: 0px; text-align: left;">
          <p>Something revolutionary is coming; really soon we will tell you what are the benefits of having registered before the launch.</p>
        </div>
        <div id="sp-d4et4f" class="sp-spacer" style="height: 60px;"></div>
        <div id="sp-a04o7z" class="sp-css-target sp-text-wrapper sp-el-block sp-text-block-style sp-text-wrapper-a04o7z" style="margin: 0px; text-align: left;">
          <input type="button" value="Sign in/up" class="btn-custom btn-gooldsite" ng-click="logOut()"/>
          <div class="box-link">
            <a href="javascript:void(0)" ng-click="goToOldSite()">old site</a>
          </div>
        </div>
        <div id="sp-qkrns1" class="sp-spacer" style="height: 12px;"></div>
      </div>
    </div>
  </section>
</div>
