<!--begin::App-->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
  <!--begin::Page-->
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
    <header-partial></header-partial>
    <!--begin::Wrapper-->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
      <sidebar-partial></sidebar-partial>
      <!--begin::Main-->
      <ng-include src="'templates/partials/others/content_contact.html'" onload="loadPartial()"></ng-include>
      <!--end:::Main-->
      <footer-dashboard></footer-dashboard>
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Page-->
</div>
<!--end::App-->
